spring:
  datasource:
    url: ${DB_URL}
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: http://localhost:8080/oauth2/callback/google
            scope: openid,email,profile

app:
  oauth2:
    authorizedRedirectUris: http://localhost:3000/auth/callback

server:
  port: 8080

logging:
  level:
    org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer: ERROR
    org.springframework.security: DEBUG

jwt:
  secret: mySecretKeyForJWTWhichShouldBeLongEnoughToBeSecure
  expiration: 86400000  # 24 hours in milliseconds
  refresh-token:
    expiration: 604800000 # 7 days

