spring:
  datasource:
    url: ${DB_URL}
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            scope: openid,email,profile

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  oauth2:
    authorizedRedirectUris: ${APP_AUTHORIZED_REDIRECT_URIS}
  cookie:
    secure: true
    sameSite: None

server:
  port: 8080

logging:
  level:
    org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer: ERROR

jwt:
  secret: mySecretKeyForJWTWhichShouldBeLongEnoughToBeSecure
  expiration: 86400000  # 24 hours in milliseconds
  refresh-token:
    expiration: 604800000 # 7 days
